/* @import url('styles_tablet.css'); */





    /* ########################
       ##                    ##
       ##                    ##
       ##                    ##
       ##                    ##
       ##                    ##
       ##                    ##
       ##                    ##
       ##                    ##
       ##                    ##
       ##                    ##
       ##                    ##
       ##                    ##
       ##                    ##
       ##                    ##
       ######################## */
    @media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: portrait) {

        html{
            background-image: url("../img/bg/mobile_bg.png");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 100%;
            background-color: #586eeb;
            font-family: Verdana;
            }
            
        .header{
            background-color: rgb(206, 231, 252);
            position: absolute;
            color: #7e8de6;
            padding: 1px;
            width: 99.9%;
            z-index: -1;
            margin-left:-7px;
            top:4%;
        }
        
        .space{
            padding: .5%;
        }
        
        .myName{
            margin-left: 25%;
            font-size: .6em;
        }
        
        .img{
            background-color: rgb(255, 255, 255);
            border: 4px solid #7e8de6;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            height: 60px;
            width:60px;
            left: 3%;
        }
        
        .img:hover{
            -ms-transform: scale(1.2); /* IE 9 */
            -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
            transform: scale(1.2);
            cursor: pointer;
        }
        
        .me{
            position: absolute;
            clear: both;
            width: 80%;
            top:-10%;
        }
        
        .ic{
            position: absolute;
            top: 17%;
            left: -2%;
        }
        .icons{
            display: block;
            list-style-type: none;
            cursor: pointer;
            -webkit-animation-name: zoomLogo;
            -webkit-animation-duration: 2.5s;
            animation-name: zoomLogo;
            animation-duration: 2.5s;
        
            -ms-transform: scale(0.6); /* IE 9 */
            -webkit-transform: scale(0.6); /* Chrome, Safari, Opera */
            transform: scale(0.6);
        }
        
        /* .icons{    
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 2.5s;
            animation-name: zoom;
            animation-duration: 2.5s;
        
        } */
        
        
        @-webkit-keyframes zoomLogo {
            from {-webkit-transform: scale(0.01)} 
            to {-webkit-transform: scale(0.6)}
        }
        
        @keyframes zoomLogo {
            from {transform: scale(0.01)} 
            to {transform: scale(0.6)}
        }
        
        .icons:hover{
            -ms-transform: scale(1); /* IE 9 */
            -webkit-transform: scale(1); /* Chrome, Safari, Opera */
            transform: scale(1);
        }
        
        
        .navs{
            background-color: #586eeb;
            list-style-type: none;
            /* float: right; */
            width: 100%;
        }
        
        .navs a{
            text-decoration: none;
            color: aliceblue;
            font-size: .9em;
            display: block;
            float: right;
            padding: 1%;
            width: 30%;
            /* background-color: red; */
        }
        
        .navs a:hover{
            box-shadow: -2px 2px 10px #08080851;
            background-color: #6379f393;
        }
        
        
        /* ########## MODAL HERE ########## */
        .modIm {
            border-radius:50%;
            transition: 0.3s;
            cursor: pointer;
            width:15%;
        }
        
        .modIm:hover {opacity: 0.5;}
        
        /* The Modal (background) */
        .modal {
            background-color: rgba(0,0,0,0.93);
            padding-top: 10px; 
            position: fixed; 
            display: none; 
            height: 100%; 
            width: 100%;
            z-index: 1; 
            left: 0;
            top: 0;
        }
        
        .forImg{
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            left: 15%;
            top: 20%;
            height: 230px;
            width: 230px;
        }
        
        /* Modal Content (image) */
        .modal-content {
            max-width: 700px;
            display: block;
            margin: auto;
            width: 100%;
            height:auto;
        }
        
        /* Caption of Modal Image */
        #caption {
            background-color:#5a5af0be;
            text-align: center;
            position:absolute;
            border-radius:6px;
            max-width: 700px;
            font-size: 1em;
            display: block;
            color: #fff;
            margin: auto;
            padding: 1%;
            bottom:20%;
            width: 70%;
            z-index:2;
            left:17%;
        }
        
        /* Add Animation */
        .modal-content, #caption {    
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
        }
        
        @-webkit-keyframes zoom {
            from {-webkit-transform: scale(0)} 
            to {-webkit-transform: scale(1)}
        }
        
        @keyframes zoom {
            from {transform: scale(0.1)} 
            to {transform: scale(1)}
        }
        
        /* The Close Button */
        .close {
            background-color:red;
            position: absolute;
            padding-bottom:8px;
            font-weight: bold;
            border-radius:50%;
            color: #f1f1f1;
            transition: 0.3s;
            font-size: 40px;
            padding:0 10px;
            padding-bottom: 6px;
            right: 10%;
            top: 15%;
        }
        
        .close:hover,
        .close:focus {
            background-color:#aa0000;
            text-decoration: none;
            cursor: pointer;
            color: #555;
        }
        
        /* ########## MODAL 2 HERE ########## */
        
        .secModal{
            background-color: rgb(154, 245, 101);
            border-radius: 6px;
            text-align: center;
            position: absolute;
            display: none;
            /* width: 100%; */
        
            -webkit-animation-name: moveMobile1;
            -webkit-animation-duration: 0.5s;
            animation-name: moveMobile1;
            animation-duration: 0.5s;
        }
        
        
        /* Chrome, Safari, Opera */ 
        @-webkit-keyframes moveMobile1 {
            from {top: 0%;}
            to {top: 50%;}
        } 
        
        /* Standard syntax */ 
        @keyframes moveMobile1 {
            from {top: 0%;}
            to {top: 50%;}
        }
        
        .blur{
            -webkit-filter: blur(8px); /* Chrome, Safari, Opera */
          filter: blur(8px);
        }
        .secClose{
            background-color: #aa0000;
            padding: .9% 5% 2% 5%;
            color: aliceblue;
            border-radius: 50%;
            position: absolute;
            font-weight: bold;
            cursor: pointer;
            /* height: 30px; */
            right: -12px;
            top: -16px;
        }

    }







    /* ########################
       ##                    ##
       ##                    ##
       ##                    ##
       ##                    ##
       ##                    ##
       ##                    ##
       ##                    ##
       ##                    ##
       ##                    ##
       ##                    ##
       ##                    ##
       ##                    ##
       ##                    ##
       ##                    ##
       ######################## */
@media only screen and (min-width: 375px) and (max-width: 767px) and (orientation: portrait) {
  
    html{
        background-image: url("../img/bg/mobile_bg.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        /* background-color: #586eeb; */
        font-family: Verdana;
        }
        
        
        .header{
            background-color: rgb(206, 231, 252);
            position: absolute;
            color: #7e8de6;
            padding: 1px;
            width: 99.9%;
            z-index: -1;
            margin-left:-7px;
            top:4%;
        }
        
        .space{
            padding: .5%;
        }
        
        .myName{
            margin-left: 30%;
            font-size: .8em;
        }
        
        .img{
            background-color: rgb(255, 255, 255);
            border: 4px solid #7e8de6;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            height: 80px;
            width:80px;
            left: 3%;
        }
        
        .img:hover{
            -ms-transform: scale(1.2); /* IE 9 */
            -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
            transform: scale(1.2);
            cursor: pointer;
        }
        
        .me{
            position: absolute;
            clear: both;
            width: 80%;
            top:-10%;
        }
        
        .ic{
            position: absolute;
            top: 17%;
            left: -2%;
        }
        .icons{
            display: block;
            list-style-type: none;
            cursor: pointer;
            -webkit-animation-name: zoomLogo;
            -webkit-animation-duration: 2.5s;
            animation-name: zoomLogo;
            animation-duration: 2.5s;
        
            -ms-transform: scale(0.6); /* IE 9 */
            -webkit-transform: scale(0.6); /* Chrome, Safari, Opera */
            transform: scale(0.6);
        }
        
        /* .icons{    
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 2.5s;
            animation-name: zoom;
            animation-duration: 2.5s;
        
        } */
        
        
        @-webkit-keyframes zoomLogo {
            from {-webkit-transform: scale(0.01)} 
            to {-webkit-transform: scale(0.6)}
        }
        
        @keyframes zoomLogo {
            from {transform: scale(0.01)} 
            to {transform: scale(0.6)}
        }
        
        .icons:hover{
            -ms-transform: scale(1); /* IE 9 */
            -webkit-transform: scale(1); /* Chrome, Safari, Opera */
            transform: scale(1);
        }
        
        
        .navs{
            background-color: #586eeb;
            list-style-type: none;
            /* float: right; */
            width: 100%;
        }
        
        .navs a{
            text-decoration: none;
            color: aliceblue;
            display: block;
            float: left;
            padding: 1%;
            width: 30%;
            /* background-color: red; */
        }
        
        .navs a:hover{
            box-shadow: -2px 2px 10px #08080851;
            background-color: #6379f393;
        }
        
        
        /* ########## MODAL HERE ########## */
        .modIm {
            border-radius:50%;
            transition: 0.3s;
            cursor: pointer;
            width:15%;
        }
        
        .modIm:hover {opacity: 0.5;}
        
        /* The Modal (background) */
        .modal {
            background-color: rgba(0,0,0,0.93);
            padding-top: 10px; 
            position: fixed; 
            display: none; 
            height: 100%; 
            width: 100%;
            z-index: 1; 
            left: 0;
            top: 0;
        }
        
        .forImg{
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            left: 5%;
            top: 20%;
            height: 330px;
            width: 330px;
        }
        
        /* Modal Content (image) */
        .modal-content {
            max-width: 700px;
            display: block;
            margin: auto;
            width: 100%;
            height:auto;
        }
        
        /* Caption of Modal Image */
        #caption {
            background-color:#5a5af0be;
            text-align: center;
            position:absolute;
            border-radius:6px;
            max-width: 700px;
            font-size: 1.3em;
            display: block;
            color: #fff;
            margin: auto;
            padding: 1%;
            bottom:25%;
            width: 70%;
            z-index:2;
            left:15%;
        }
        
        /* Add Animation */
        .modal-content, #caption {    
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
        }
        
        @-webkit-keyframes zoom {
            from {-webkit-transform: scale(0)} 
            to {-webkit-transform: scale(1)}
        }
        
        @keyframes zoom {
            from {transform: scale(0.1)} 
            to {transform: scale(1)}
        }
        
        /* The Close Button */
        .close {
            background-color:red;
            position: absolute;
            padding-bottom:8px;
            font-weight: bold;
            border-radius:50%;
            color: #f1f1f1;
            transition: 0.3s;
            font-size: 40px;
            padding:0 10px;
            padding-bottom: 6px;
            right: 10%;
            top: 15%;
        }
        
        .close:hover,
        .close:focus {
            background-color:#aa0000;
            text-decoration: none;
            cursor: pointer;
            color: #555;
        }
        
        /* ########## MODAL 2 HERE ########## */
        
        .secModal{
            background-color: rgb(154, 245, 101);
            border-radius: 6px;
            text-align: center;
            position: absolute;
            display: none;
            /* width: 100%; */
        
            -webkit-animation-name: moveMobile2;
            -webkit-animation-duration: 0.5s;
            animation-name: moveMobile2;
            animation-duration: 0.5s;
        }
        
        
        /* Chrome, Safari, Opera */ 
        @-webkit-keyframes moveMobile2 {
            from {top: 0%;}
            to {top: 50%;}
        } 
        
        /* Standard syntax */ 
        @keyframes moveMobile2 {
            from {top: 0%;}
            to {top: 50%;}
        }
        
        .blur{
            -webkit-filter: blur(8px); /* Chrome, Safari, Opera */
          filter: blur(8px);
        }
        .secClose{
            background-color: #aa0000;
            padding: .9% 5% 2% 5%;
            color: aliceblue;
            border-radius: 50%;
            position: absolute;
            font-weight: bold;
            cursor: pointer;
            /* height: 30px; */
            right: -12px;
            top: -16px;
        }
        
        
    
  }






    /* #######################################################
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ####################################################### */

    @media only screen and (min-width: 411px) and (max-width: 823px) and (orientation: landscape) {

        html{
            background-image: url("../img/bg/mobile_landscape_bg.png");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 100%;
            font-family: Verdana;
            }
            
            .header{
                background-color: rgb(206, 231, 252);
                position: absolute;
                color: #7e8de6;
                padding: 1px;
                width: 99.9%;
                z-index: -1;
                margin-left:-7px;
                top:13%;
            }
            
            .space{
                padding: .5%;
            }
            
            .myName{
                margin-left: 30%;
            }
            
            .img{
                background-color: rgb(255, 255, 255);
                border: 7px solid #7e8de6;
                border-radius: 50%;
                position: relative;
                overflow: hidden;
                height: 150px;
                width:150px;
                left: 3%;
            }
            
            .img:hover{
                -ms-transform: scale(1.2); /* IE 9 */
                -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
                transform: scale(1.2);
                cursor: pointer;
            }
            
            .me{
                position: absolute;
                clear: both;
                width: 100%;
                top:-10%;
            }
            
            .ic{
                position: absolute;
                top: -3%;
                right: 2%;
            }
            .icons{
                display: inline-block;
                list-style-type: none;
                cursor: pointer;
                -webkit-animation-name: zoomLogo;
                -webkit-animation-duration: 2.5s;
                animation-name: zoomLogo;
                animation-duration: 2.5s;
            
                -ms-transform: scale(0.6); /* IE 9 */
                -webkit-transform: scale(0.6); /* Chrome, Safari, Opera */
                transform: scale(0.6);
            }
            
            /* .icons{    
                -webkit-animation-name: zoom;
                -webkit-animation-duration: 2.5s;
                animation-name: zoom;
                animation-duration: 2.5s;
            
            } */
            
            
            @-webkit-keyframes zoomLogo {
                from {-webkit-transform: scale(0.01)} 
                to {-webkit-transform: scale(0.6)}
            }
            
            @keyframes zoomLogo {
                from {transform: scale(0.01)} 
                to {transform: scale(0.6)}
            }
            
            .icons:hover{
                -ms-transform: scale(1); /* IE 9 */
                -webkit-transform: scale(1); /* Chrome, Safari, Opera */
                transform: scale(1);
            }
            
            
            .navs{
                background-color: #586eeb;
                list-style-type: none;
                /* float: right; */
                width: 100%;
            }
            
            .navs a{
                text-decoration: none;
                color: aliceblue;
                display: block;
                float: right;
                padding: 1%;
                width: 20%;
                /* background-color: red; */
            }
            
            .navs a:hover{
                box-shadow: -2px 2px 10px #08080851;
                background-color: #6379f393;
            }
            
            
            /* ########## MODAL HERE ########## */
            .modIm {
                border-radius:50%;
                transition: 0.3s;
                cursor: pointer;
                width:15%;
            }
            
            .modIm:hover {opacity: 0.5;}
            
            /* The Modal (background) */
            .modal {
                background-color: rgba(0,0,0,0.93);
                /* background-color: rgba(219, 22, 22, 0.93); */
                padding-top: 10px; 
                position: fixed; 
                display: none; 
                height: 100%; 
                width: 100%;
                z-index: 1; 
                left: 0;
                top: 0;
            }
            
            .forImg{
                border-radius: 50%;
                overflow: hidden;
                position: absolute;
                left: 40%;
                top: 10%;
                height: 230px;
                width: 230px;
            }
            
            /* Modal Content (image) */
            .modal-content {
                max-width: 700px;
                display: block;
                margin: auto;
                width: 100%;
                height:auto;
            }
            
            /* Caption of Modal Image */
            #caption {
                background-color:#5a5af0be;
                text-align: center;
                position:absolute;
                border-radius:6px;
                max-width: 700px;
                font-size: 1.4em;
                display: block;
                color: #fff;
                margin: auto;
                padding: 1%;
                bottom:10%;
                width: 50%;
                z-index:2;
                left:28%;
            }
            
            /* Add Animation */
            .modal-content, #caption {    
                -webkit-animation-name: zoom;
                -webkit-animation-duration: 0.6s;
                animation-name: zoom;
                animation-duration: 0.6s;
            }
            
            @-webkit-keyframes zoom {
                from {-webkit-transform: scale(0)} 
                to {-webkit-transform: scale(1)}
            }
            
            @keyframes zoom {
                from {transform: scale(0.1)} 
                to {transform: scale(1)}
            }
            
            /* The Close Button */
            .close {
                background-color:red;
                position: absolute;
                padding-bottom:8px;
                font-weight: bold;
                border-radius:50%;
                color: #f1f1f1;
                transition: 0.3s;
                font-size: 40px;
                padding:0 10px;
                padding-bottom: 3px;
                right: 25%;
                top: 15px;
            }
            
            .close:hover,
            .close:focus {
                background-color:#aa0000;
                text-decoration: none;
                cursor: pointer;
                color: #555;
            }
            
            /* ########## MODAL 2 HERE ########## */
            
            .secModal{
                background-color: rgb(154, 245, 101);
                border-radius: 6px;
                text-align: center;
                position: absolute;
                display: none;
                /* left: 35.6%;
                width: 30%; */
            
                -webkit-animation-name: moveMobile3;
                -webkit-animation-duration: 0.5s;
                animation-name: moveMobile3;
                animation-duration: 0.5s;
            }
            
            
            /* Chrome, Safari, Opera */ 
            @-webkit-keyframes moveMobile3 {
                from {top: 0%;}
                to {top: 50%;}
            } 
            
            /* Standard syntax */ 
            @keyframes moveMobile3 {
                from {top: 0%;}
                to {top: 50%;}
            }
            
            .blur{
                -webkit-filter: blur(8px); /* Chrome, Safari, Opera */
              filter: blur(8px);
            }
            .secClose{
                background-color: #aa0000;
                padding: .5% 2% 3% 2%;
                color: aliceblue;
                border-radius: 50%;
                position: absolute;
                font-weight: bold;
                cursor: pointer;
                height: 30px;
                right: -12px;
                top: -20px;
            }

    }





    /* #######################################################
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ####################################################### */

  @media only screen and (min-width: 375px) and (max-width: 812px) and (orientation: landscape) {

    html{
        background-image: url("../img/bg/mobile_landscape_bg.png");
        background-attachment: fixed;
        font-family: Verdana;
        }
        
        .header{
            background-color: rgb(206, 231, 252);
            position: absolute;
            color: #7e8de6;
            padding: 1px;
            width: 99.9%;
            z-index: -1;
            margin-left:-7px;
            top:13%;
        }
        
        .space{
            padding: .5%;
        }
        
        .myName{
            margin-left: 30%;
        }
        
        .img{
            background-color: rgb(255, 255, 255);
            border: 7px solid #7e8de6;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            height: 150px;
            width:150px;
            left: 3%;
        }
        
        .img:hover{
            -ms-transform: scale(1.2); /* IE 9 */
            -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
            transform: scale(1.2);
            cursor: pointer;
        }
        
        .me{
            position: absolute;
            clear: both;
            width: 100%;
            top:-10%;
        }
        
        .ic{
            position: absolute;
            top: -3%;
            right: 2%;
        }
        .icons{
            display: inline-block;
            list-style-type: none;
            cursor: pointer;
            -webkit-animation-name: zoomLogo;
            -webkit-animation-duration: 2.5s;
            animation-name: zoomLogo;
            animation-duration: 2.5s;
        
            -ms-transform: scale(0.6); /* IE 9 */
            -webkit-transform: scale(0.6); /* Chrome, Safari, Opera */
            transform: scale(0.6);
        }
        
        /* .icons{    
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 2.5s;
            animation-name: zoom;
            animation-duration: 2.5s;
        
        } */
        
        
        @-webkit-keyframes zoomLogo {
            from {-webkit-transform: scale(0.01)} 
            to {-webkit-transform: scale(0.6)}
        }
        
        @keyframes zoomLogo {
            from {transform: scale(0.01)} 
            to {transform: scale(0.6)}
        }
        
        .icons:hover{
            -ms-transform: scale(1); /* IE 9 */
            -webkit-transform: scale(1); /* Chrome, Safari, Opera */
            transform: scale(1);
        }
        
        
        .navs{
            background-color: #586eeb;
            list-style-type: none;
            /* float: right; */
            width: 100%;
        }
        
        .navs a{
            text-decoration: none;
            color: aliceblue;
            display: block;
            float: right;
            padding: 1%;
            width: 20%;
            /* background-color: red; */
        }
        
        .navs a:hover{
            box-shadow: -2px 2px 10px #08080851;
            background-color: #6379f393;
        }
        
        
        /* ########## MODAL HERE ########## */
        .modIm {
            border-radius:50%;
            transition: 0.3s;
            cursor: pointer;
            width:15%;
        }
        
        .modIm:hover {opacity: 0.5;}
        
        /* The Modal (background) */
        .modal {
            background-color: rgba(0,0,0,0.93);
            /* background-color: rgba(219, 22, 22, 0.93); */
            padding-top: 10px; 
            position: fixed; 
            display: none; 
            height: 100%; 
            width: 100%;
            z-index: 1; 
            left: 0;
            top: 0;
        }
        
        .forImg{
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            left: 40%;
            top: 10%;
            height: 230px;
            width: 230px;
        }
        
        /* Modal Content (image) */
        .modal-content {
            max-width: 700px;
            display: block;
            margin: auto;
            width: 100%;
            height:auto;
        }
        
        /* Caption of Modal Image */
        #caption {
            background-color:#5a5af0be;
            text-align: center;
            position:absolute;
            border-radius:6px;
            max-width: 700px;
            font-size: 1.4em;
            display: block;
            color: #fff;
            margin: auto;
            padding: 1%;
            bottom:10%;
            width: 50%;
            z-index:2;
            left:28%;
        }
        
        /* Add Animation */
        .modal-content, #caption {    
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
        }
        
        @-webkit-keyframes zoom {
            from {-webkit-transform: scale(0)} 
            to {-webkit-transform: scale(1)}
        }
        
        @keyframes zoom {
            from {transform: scale(0.1)} 
            to {transform: scale(1)}
        }
        
        /* The Close Button */
        .close {
            background-color:red;
            position: absolute;
            padding-bottom:8px;
            font-weight: bold;
            border-radius:50%;
            color: #f1f1f1;
            transition: 0.3s;
            font-size: 40px;
            padding:0 10px;
            padding-bottom: 3px;
            right: 25%;
            top: 15px;
        }
        
        .close:hover,
        .close:focus {
            background-color:#aa0000;
            text-decoration: none;
            cursor: pointer;
            color: #555;
        }
        
        /* ########## MODAL 2 HERE ########## */
        
        .secModal{
            background-color: rgb(154, 245, 101);
            border-radius: 6px;
            text-align: center;
            position: absolute;
            display: none;
            /* left: 35.6%;
            width: 30%; */
        
            -webkit-animation-name: moveMobile4;
            -webkit-animation-duration: 0.5s;
            animation-name: moveMobile4;
            animation-duration: 0.5s;
        }
        
        
        /* Chrome, Safari, Opera */ 
        @-webkit-keyframes moveMobile4 {
            from {top: 0%;}
            to {top: 50%;}
        } 
        
        /* Standard syntax */ 
        @keyframes moveMobile4 {
            from {top: 0%;}
            to {top: 50%;}
        }
        
        .blur{
            -webkit-filter: blur(8px); /* Chrome, Safari, Opera */
          filter: blur(8px);
        }
        .secClose{
            background-color: #aa0000;
            padding: .5% 2% 3% 2%;
            color: aliceblue;
            border-radius: 50%;
            position: absolute;
            font-weight: bold;
            cursor: pointer;
            height: 30px;
            right: -12px;
            top: -20px;
        }

  }







    /* #######################################################
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ####################################################### */

  @media only screen and (min-width: 414px) and (max-width: 736px) and (orientation: landscape) {

    html{
        background-image: url("../img/bg/mobile_landscape_bg.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-color: #586eeb;
        font-family: Verdana;
        }

    .header{
        background-color: rgb(206, 231, 252);
        position: absolute;
        color: #7e8de6;
        padding: 1px;
        width: 99.9%;
        z-index: -1;
        margin-left:-7px;
        top:8%;
    }
    
    .space{
        padding: .5%;
    }
    
    .myName{
        margin-left: 20%;
        font-size: .8em;
    }
    
    .img{
        background-color: rgb(255, 255, 255);
        border: 4px solid #7e8de6;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        height: 80px;
        width:80px;
        left: 3%;
    }
    
    .img:hover{
        -ms-transform: scale(1.2); /* IE 9 */
        -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
        transform: scale(1.2);
        cursor: pointer;
    }
    
    .me{
        position: absolute;
        clear: both;
        width: 80%;
        top:-10%;
    }

    .ic{
        position: absolute;
        width: 10%;
        top: 23%;
        left: 1%;
    }
    .icons{
        display: inline-block;
        list-style-type: none;
        cursor: pointer;
        -webkit-animation-name: zoomLogo;
        -webkit-animation-duration: 2.5s;
        animation-name: zoomLogo;
        animation-duration: 2.5s;
    
        -ms-transform: scale(0.6); /* IE 9 */
        -webkit-transform: scale(0.6); /* Chrome, Safari, Opera */
        transform: scale(0.6);
    }
    
    /* .icons{    
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 2.5s;
        animation-name: zoom;
        animation-duration: 2.5s;
    
    } */
    
    
    @-webkit-keyframes zoomLogo {
        from {-webkit-transform: scale(0.01)} 
        to {-webkit-transform: scale(0.6)}
    }
    
    @keyframes zoomLogo {
        from {transform: scale(0.01)} 
        to {transform: scale(0.6)}
    }
    
    .icons:hover{
        -ms-transform: scale(1); /* IE 9 */
        -webkit-transform: scale(1); /* Chrome, Safari, Opera */
        transform: scale(1);
    }

    .navs{
        background-color: #586eeb;
        list-style-type: none;
        /* float: right; */
        width: 100%;
    }
    
    .navs a{
        text-decoration: none;
        color: aliceblue;
        display: block;
        float: right;
        padding: 1%;
        width: 20%;
        /* background-color: red; */
    }
    
    .navs a:hover{
        box-shadow: -2px 2px 10px #08080851;
        background-color: #6379f393;
    }


    /* ########## MODAL HERE ########## */
    .modIm {
        border-radius:50%;
        transition: 0.3s;
        cursor: pointer;
        width:15%;
    }
    
    .modIm:hover {opacity: 0.5;}
    
    /* The Modal (background) */
    .modal {
        background-color: rgba(0,0,0,0.93);
        padding-top: 10px; 
        position: fixed; 
        display: none; 
        height: 100%; 
        width: 100%;
        z-index: 1; 
        left: 0;
        top: 0;
    }
    
    .forImg{
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        left: 33%;
        top: 7%;
        height: 230px;
        width: 230px;
    }
    
    /* Modal Content (image) */
    .modal-content {
        max-width: 700px;
        display: block;
        margin: auto;
        width: 100%;
        height:auto;
    }
    
    /* Caption of Modal Image */
    #caption {
        background-color:#5a5af0be;
        text-align: center;
        position:absolute;
        border-radius:6px;
        max-width: 700px;
        font-size: 1.4em;
        display: block;
        color: #fff;
        margin: auto;
        padding: 1%;
        bottom:4%;
        width: 50%;
        z-index:2;
        left:25%;
    }
    
    /* Add Animation */
    .modal-content, #caption {    
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }
    
    @-webkit-keyframes zoom {
        from {-webkit-transform: scale(0)} 
        to {-webkit-transform: scale(1)}
    }
    
    @keyframes zoom {
        from {transform: scale(0.1)} 
        to {transform: scale(1)}
    }
    
    /* The Close Button */
    .close {
        background-color:red;
        position: absolute;
        padding-bottom:8px;
        font-weight: bold;
        border-radius:50%;
        color: #f1f1f1;
        transition: 0.3s;
        font-size: 40px;
        padding:0 10px;
        padding-bottom: 6px;
        right: 20%;
        top: 10%;
    }
    
    .close:hover,
    .close:focus {
        background-color:#aa0000;
        text-decoration: none;
        cursor: pointer;
        color: #555;
    }
    
    /* ########## MODAL 2 HERE ########## */
    
    .secModal{
        background-color: rgb(154, 245, 101);
        border-radius: 6px;
        text-align: center;
        position: absolute;
        display: none;
        /* left: 35.6%; */
        /* width: 100%; */
    
        -webkit-animation-name: moveMobile5;
        -webkit-animation-duration: 0.5s;
        animation-name: moveMobile5;
        animation-duration: 0.5s;
    }
    
    
    /* Chrome, Safari, Opera */ 
    @-webkit-keyframes moveMobile5 {
        from {top: 0%;}
        to {top: 50%;}
    } 
    
    /* Standard syntax */ 
    @keyframes moveMobile5 {
        from {top: 0%;}
        to {top: 50%;}
    }
    
    .blur{
        -webkit-filter: blur(8px); /* Chrome, Safari, Opera */
      filter: blur(8px);
    }
    .secClose{
        background-color: #aa0000;
        padding: .9% 5% 2% 5%;
        color: aliceblue;
        border-radius: 50%;
        position: absolute;
        font-weight: bold;
        cursor: pointer;
        /* height: 30px; */
        right: -12px;
        top: -16px;
    }
    


  }


        /* #######################################################
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ##                                                   ##
       ####################################################### */
       @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {


        .myName{
            margin-left: 30%;
        }


        .forImg{
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            left: 24%;
            top: 7%;
            height: 230px;
            width: 230px;
        }


        /* Caption of Modal Image */
        #caption {
            background-color:#5a5af0be;
            text-align: center;
            position:absolute;
            border-radius:6px;
            max-width: 700px;
            font-size: 1em;
            display: block;
            color: #fff;
            margin: auto;
            padding: 1%;
            bottom:10%;
            width: 50%;
            z-index:2;
            left:22%;
        }


    }